@{
    ViewBag.Title = "About";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btn").attr("value","abc");
        })
        function clickme(u) {
            alert(u.value);
        }
    </script>
    <button id="btn" onclick="clickme(this)" value="ddd">click</button>
</body>
</html>

