
<head>
    <style>
        .btn-tt {
            border: 0px;
            background: unset;
        }
    </style>
</head>
 
<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
    @if (Request.IsAuthenticated)
    {

        <form class="navbar-right navbar-form">
            <div class="btn-group">
                <button class="btn btn-default  dropdown-toggle btn-tt" data-toggle="dropdown">欢迎您，@this.User.Identity.GetUserName()<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("用户信息","UserProfile","Account")</li>
                    <li class="divider"></li>
                    <li><a href="../Account/Logout">退出登录</a></li>
                    
                </ul>
            </div>
        </form>

    }
    else
    {
        <form class="navbar-right navbar-form">
            <div class="btn-group">
                <button class="btn btn-default  dropdown-toggle btn-tt" data-toggle="dropdown">你好.登录<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="../Account/Login">登录</a></li>
                    @*<li>@Html.ActionLink("登录", "Login","Account", null, new { data_modal = "" })</li>*@
                    <li><a href="#">注册</a></li>
                </ul>
            </div>
        </form>

            
    }
 

