@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "出错啦！";
    if (Model.Exception is HttpException)
    {
        var ex = Model.Exception as HttpException;
        if (ex.GetHttpCode() == (int)HttpStatusCode.Unauthorized)
        { 
               Response.Redirect("~/Account/Login");
        
        }
    }
}

<h1 class="text-danger">很抱歉，操作出现了问题 :  @Model.Exception.Message</h1>
 
<h2 class="text-danger">An error occurred while processing your request.</h2>
 

