


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cols</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-1" style="background-color:green;">
                <h3>green</h3>
            </div>
          
        
            <div class="col-md-2" style="background-color:gray;">
                <h3>gray</h3>
            </div>
            <div class="col-md-4" style="background-color:red;">
                <h3>red</h3>
            </div>
            <div class="col-md-5" style="background-color:blue;">
                <h3>blue</h3>
            </div>
            <div class="col-md-6" style="background-color:orange;">
                <h3>orange</h3>
            </div>
        </div>
    </div>
</body>
</html>
