@model MEAS.Product
@{
    ViewBag.Title = "Edit" + @Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="panel">
    <div class="panel-heading">
        <h1>Edit @Model.Name</h1>
    </div>
    @using (Html.BeginForm())
    {
    <div class="panel-body">
        @Html.HiddenFor(x=>x.Id)

    </div>
    }
</div>



