@using MEAS.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Login";
}
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link href="~/Content/validate.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
    
    <script type="text/javascript">
        function executeLogin() {
            var username=$("#username").val();
            var password = $("#password").val();
            var url = '@Url.Action("dologin", "account")';

          
            $.ajax({
                type: "post",
                url: url,
               
                data: { username: username, password: password },
                success:function(){
                    alert("success!");
                },
                error: function () {
                    alert("fail!");
                }
            });
        }

        $(function () {
            $('#registration-form').validate({
                rules: {
                    name: {
                        required: true,
                        required: true
                    },

                    username: {
                        minlength: 6,
                        required: true
                    },

                    password: {
                        required: true,
                        minlength: 6
                    },
                    confirm_password: {
                        required: true,
                        minlength: 6,
                        equalTo: "#password"
                    },

                    email: {
                        required: true,
                        email: true
                    },


                    address: {
                        minlength: 10,
                        required: true
                    },

                    agree: "required"

                },
                highlight: function (element) {
                    $(element).closest('.control-group').removeClass('success').addClass('error');
                },
                success: function (element) {
                    element
                    .text('OK!').addClass('valid')
                    .closest('.control-group').removeClass('error').addClass('success');
                }
            });
        });
    </script>
    <style>
        .control-label {
            vertical-align: central;
            margin: 104px,10px,10px,10px;
        }

        .btn {
            padding: 20px,10px;
            margin: 20px,10px;
        }

        .form-group {
            margin: 4px,10px,10px,10px;
        }

        #loginform {
            position: absolute;
            left: 40%;
            margin-top: 20px;
            width: 20%;
            height: 70%;
        }
    </style>

</head>


<body>

    <div id="loginform">

        <div style="text-align:center;">
            <h2><strong>MEAS</strong></h2>
        </div>
        <div style="padding:15px;height:80%;border-radius:4px;border:1px #ddd solid;">
            <div>
                <h3>登录</h3>
            </div>
            <div id="result"></div>
            <div class="panel-body">

                <div class="form-group">
                    <label for="username" class="control-label">用户名</label>
                    <input type="text" id="username" class="form-control input-sm" />
                </div>

                <div class="form-group">
                    <label for="password" class="control-label">登录密码</label>
                    <input type="password" id="password" class="form-control input-sm req" />
                </div>

                <div class="form-group" style="margin-top:40px;" >
                    <button class="btn btn-primary" style="width:100%;padding:5px;" type="submit" onclick="executeLogin()">登录</button>
                </div>

            </div>

        </div>

    </div>


    
</body>
<footer class="modal-footer" style="position:fixed;bottom:0px;width:100%;">
    <div class="container">
        <p class="pull-left">&copy; @DateTime.Now.Year - <a href="http://www.meas.com" target="_blank">MEAS</a></p>
        <p class="pull-right"><a id="scroll-to-top" style="display:none;" href="#" title="fw"><span class="glyphicon glyphicon-arrow-up"></span> </a></p>
    </div>
</footer>


