@model MEAS.TorqueWrenchMeasure

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">您确定要删除该扭矩扳子测试信息?</h4>
</div>

<div class="modal-body">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TestDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TestDate)
        </dd>        
    </dl>
</div>


@using (Html.BeginForm())
{    
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">取消</button>
        <input class="btn btn-danger" type="submit" value="确定" />
    </div>
}
