@using MEAS.Models
 
@{ 
    ViewBag.Title = "Products";
}

 <body>
      <div id="categories" class="col-xs-3">
            @Html.Action("Menu","Nav")
        </div>

     <div class="row panel col-xs-9">

     </div>

   

</body>
 