@using MEAS.Models
@model  PagingResult<Product>
@{ 
    ViewBag.Title = "Products";
}
@foreach(var p in Model.Values)
{
    @Html.Partial("ProductSummary",p)
}
<div>
    @Html.DropDownList("dp", Model.ToSelectList(), "--请选择--", new { @class = " my-select-css-class" })
</div>