
 

<!DOCTYPE html>
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page2</title>
</head>
<body>
    <div> 
        <h2>this is page2</h2>
    </div>
</body>
</html>
