
@{
    Layout = null;
    ViewBag.Title = "NotAuthenticated";
}
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>

<h2>抱歉，您需要登录后才能执行此操作。@Html.ActionLink("跳转到登录页面", "Login", "Account",new { returnUrl=ViewBag.ReturnUrl},null)</h2>

  

